<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>UniNet - Home</title>
<link rel="stylesheet" href="../static/styles/uninet.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="../static/scripts/uninet.js"></script>
</head>
<body>

<header>
    <div class="flex">
        <div class="menu">
            <div class="hamburger-menu"></div>
        </div>
        <div class="logo">
            <img src="../static/images/nyanchwa-logo1.jpg">
        </div>
        <h1>UniNet</h1>
    </div>
    <div class="flex">
        <form action="">
            <input type="text" name="" id="" placeholder="search">
        </form>
        <div class="search-icon"></div>
    </div>
    <div class="user_icon">
        user info
    </div>
</header>
<hr>

<div class="user_info view_user_info">
    {% if user.is_authenticated %}
        <div id="account_info">Account</div>
        <div id="logout">Logout</div>
    {% else %}
        <div id="login">Login</div>
        <div id="sign-up">Sign-up</div>
    {% endif%}
</div>

<nav>
    <div class="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Feed</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Trending</a></li>
            <li><a href="#">Trending</a></li>
            <!-- Add more navigation items as needed -->
        </ul>
    </div>
</nav>

<nav>
    <div class="filter">
        <div class="content-type">
            <div class="content-type-video">Video</div>
            <div class="content-type-tales">Tales</div>
            <div class="content-type-teasers">Teasers</div>
        </div>
        <div class="choice">
            <div>Live</div>
            <div>Coding</div>
            <div>Comedy</div>
            <div>Documentary</div>
            <div>Nature</div>
            <div>Food</div>

        </div>
    </div>
</nav>
<main class="content_section">
    <div class="video_content">
        <article>
            <div class="article-content"><iframe src="https://www.youtube.com/embed/ERBurYnmMF8?si=sQ-sZyIZCEeUPQpl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div>
            <div class="article-description">
                <div class="creator_icon"></div>
                <div class="description">description yyyyyyyyy yyyyyyyy yyyyyyyyyyyyyy uuuuuuuuuuu</div>
            </div>
        </article>
        <article>
            <div class="article-content">content</div>
            <div class="article-description">
                <div class="creator_icon"></div>
                <div class="description">description</div>
            </div>
        </article>
        <article>
            <div class="article-content">content</div>
            <div class="article-description">
                <div class="creator_icon"></div>
                <div class="description">description</div>
            </div>
        </article>
        <article>
            <div class="article-content">content</div>
            <div class="article-description">
                <div class="creator_icon"></div>
                <div class="description">description</div>
            </div>
        </article>
        <article>
            <div class="article-content">content</div>
            <div class="article-description">
                <div class="creator_icon"></div>
                <div class="description">description</div>
            </div>
        </article>
        <article>
            <div class="article-content">content</div>
            <div class="article-description">
                <div class="creator_icon"></div>
                <div class="description">description</div>
            </div>
        </article>
        <article>
            <div class="article-content">content</div>
            <div class="article-description">
                <div class="creator_icon"></div>
                <div class="description">description</div>
            </div>
        </article>
        <article>
            <div class="article-content">content</div>
            <div class="article-description">
                <div class="creator_icon"></div>
                <div class="description">description</div>
            </div>
        </article>
        <article>
            <div class="article-content">content</div>
            <div class="article-description">
                <div class="creator_icon"></div>
                <div class="description">description</div>
            </div>
        </article>
        <article>
            <div class="article-content">content</div>
            <div class="article-description">
                <div class="creator_icon"></div>
                <div class="description">description</div>
            </div>
        </article>
    </div>
</main>

</body>
</html>
